<h1 style="color:orange;">Data preprocessing</h1>

In [6]:
import pandas as pd

# Create a sample dataset
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, None, 35, 28],
    'Salary': [50000, 60000, 55000, None, 52000],
    'Department': ['HR', 'IT', 'Finance', 'IT', None]
}

df = pd.DataFrame(data)

# Save it to CSV
df.to_csv("data.csv", index=False)

print("Sample CSV created successfully!")
df

Sample CSV created successfully!

      Name   Age   Salary Department
0    Alice  25.0  50000.0         HR
1      Bob  30.0  60000.0         IT
2  Charlie   NaN  55000.0    Finance
3    David  35.0      NaN         IT
4      Eve  28.0  52000.0       None

In [7]:
import pandas as pd

# Load CSV
df = pd.read_csv("data.csv")
print("Original Dataset:")
print(df)

Original Dataset:
      Name   Age   Salary Department
0    Alice  25.0  50000.0         HR
1      Bob  30.0  60000.0         IT
2  Charlie   NaN  55000.0    Finance
3    David  35.0      NaN         IT
4      Eve  28.0  52000.0        NaN

In [8]:
print("\nMissing Values Count:")
print(df.isnull().sum())

Missing Values Count:
Name          0
Age           1
Salary        1
Department    1
dtype: int64

In [9]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Salary'] = df['Salary'].fillna(df['Salary'].median())
df['Department'] = df['Department'].fillna("Unknown")

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df['Salary'] = scaler.fit_transform(df[['Salary']])

In [25]:
df.to_csv("cleaned_data.csv", index=False)
print("\nCleaned Dataset Saved as 'cleaned_data.csv'")
print(df)

Cleaned Dataset Saved as 'cleaned_data.csv'
      Name   Age  Salary Department
0    Alice  25.0    0.00         HR
1      Bob  30.0    1.00         IT
2  Charlie  29.5    0.50    Finance
3    David  35.0    0.35         IT
4      Eve  28.0    0.20    Unknown

In [27]:
df.to_csv('cleaned_dataset.csv', index=False)
print(df)

      Name   Age  Salary Department
0    Alice  25.0    0.00         HR
1      Bob  30.0    1.00         IT
2  Charlie  29.5    0.50    Finance
3    David  35.0    0.35         IT
4      Eve  28.0    0.20    Unknown